// Catppuccin Mocha color scheme for Just the Docs
// Based on https://github.com/catppuccin/catppuccin

// Base colors from Catppuccin Mocha
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

// --- //

$body-background-color: $base;
$sidebar-color: $mantle;
$body-text-color: $text;
$body-heading-color: $text;
$link-color: $sapphire;
$nav-child-link-color: $subtext1;
$search-background-color: $surface0;
$search-result-preview-color: $subtext0;
$border-color: $surface1;
$code-background-color: $surface0;
$feedback-color: $overlay0;
$table-background-color: $mantle;
$btn-primary-color: $blue;

$code-background-color: $mantle;
$code-linenumber-color: $surface2;

/* Sidebar Navigation Links */

.site-nav a.nav-list-link {
  color: $link-color !important;
}

.site-nav .nav-list .nav-list a.nav-list-link {
  color: $link-color !important;
}

/* Code Block Styling */

.highlight,
.highlight pre,
.highlight code,
.highlight pre code {
  color: $subtext0 !important;
}

$token-groups: (
  mauve: (k kc kd kn kp kr kt ow),                             // keywords + 'operator.word' (e.g. in, and, or)
  green: (s sb sc sd s2 s1 se ss sh si sr sx sa),              // strings & interpolations
  peach: (m mi mf mh mb mo il),                                // numbers / numeric literals (include 'il' variants)
  teal: (n nd nv nn no na nb bp vc vg nx ne nl ni ns t text),  // names: variables, builtins, namespaces, attributes, plain text
  blue: (nf nc fm nt),                                         // functions, class names, tag names (nt)
  red: (er err),                                               // errors
  subtext: (o p pf pi pj py dl)                                // operators / punctuation
);

$token-colors: (
  mauve: $mauve,
  green: $green,
  peach: $peach,
  teal: $teal,
  blue: $blue,
  red: $red,
  subtext: $subtext1
);

@each $name, $classes in $token-groups {
  $col: map-get($token-colors, $name);
  @each $cls in $classes {
    .highlight .#{$cls} {
      color: $col !important;
    }
  }
}